<h1 class="text-center">Eat-Da-Burger!</h1>

<form action="/burgers/{{this.id}}?_method=PUT" method="POST">
    <ol class="notDevoured">
      {{#each burgers}} 
      {{#unless devoured}}
      <div class="burgerlist">
        <li>
          {{this.burger_name}}
        </li>
      </div>
  <button type="submit" class="btn btn-default btn-primary devourButton">DEVOUR IT!</button>
</form>
{{/unless}} 
{{/each}}
</ol>

<ol class="devouredAlready">
  {{#each burgers}} 
  {{#if devoured}}
  <div class="burgerlist">
    <li>
      {{this.burger_name}}
    </li>
  </div>

  {{/if}} {{/each}}

</ol>

<form class="create-update-form" action="/burgers" method="POST">

  <div class="form-group">
    <textarea placeholder="Enter a burger you want to eat, and then click the submit button." id="burgername" name="burger_name" rows="8" cols="40"></textarea>
    <br>
    <button type="submit" class="btn btn-lg btn-primary submitButton">Submit</button>
  </div>
</form>