{{!-- The View component is used for all the UI logic of the application. For example, the Customer view will include all
the UI components such as text boxes, dropdowns, etc. that the final user interacts with. --}}

<h1 class="text-center burgerTitle">Eat-Da-Burger!</h1>

<div class="container-fluid">
  <div class="row">

    <div class="burgerFullDiv col-xs-12 col-s-2 col-md-4 col-lg-5 col-xl-3 text-center">
      <ol class="customcounter1">
        {{#each burgers}} {{#unless this.devoured}}
        <div class="notDevoured">
          <li>{{this.burger_name}}</li>
          <div class="wallpaperFull">
            {{!-- Button sends this.id back to the server --}}
            <form action="burgers/updateOne/{{this.id}}?_method=PUT" method="POST">
              <button type="submit" class="btn btn-default btn-primary devourButton">DEVOUR IT!</button>
            </form>
          </div>
        </div>
        {{/unless}} {{/each}}
      </ol>
    </div>

    <div class="formDiv align-center col-xs-12 col-s-8 col-md-4 col-lg-2 col-xl-2">
      <form class="create-update-form" action="burgers/insertOne" method="POST">
        <div class="form-group col-lg-2">
          <textarea placeholder="Enter a burger you want to eat, and then click the submit button." id="burgername" name="burger_name"
            rows="8" cols="40"></textarea>
          <br>
          <button type="submit" class="btn btn-lg btn-primary submitButton">Submit</button>
        </div>
      </form>
    </div>

    <div class="devouredDiv col-xs-12 col-s-2 col-md-4 col-lg-5 col-xl-3 text-center align-center">

      <div class="devouredAlready">
        <ol class="customcounter2">
          {{#each burgers}} {{#if this.devoured}}
          <div class="wallpaperDevoured">
            <li>{{this.burger_name}}</li>
          </div>

          {{/if}} {{/each}}
      </div>
      </ol>
    </div>

  </div>

  <div class="footer navbar-fixed-bottom">
    <div class="container">
      <form action="burgers/deleteAll/?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-sm deleteButton">Delete All</button>
      </form>
    </div>
  </div>

  <script>
    var count = 0;

    function timeout() {
      setTimeout(function () {
        count++;

        $(".wallpaperDevoured").attr("id", "imgID" + count);

        if (count > 5) {
          count = 0
        }
        timeout();

      }, 1000);
    }

    timeout();

  </script>